#contact-section{
	background-image: url(../img/contact-background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	float: left;
	width: 100%;
	
	
}
#contact-section div{
	margin-top: 30px;
}
#contact-text{
	background-color: rgba(0,0,0,0.5);
	color: white;
	padding: 25px;
}